.navbar{
    background-color: #fe5151;
}

.nav-link {
    font-weight: 400 !important;
    color: rgb(255 255 255) !important;
}

.carousel-item img{
    height: 45vh !important;
   
    margin:auto;
}

